.button{
    background: none;
    font-size: 1.2rem;
    text-decoration: none;
    outline: none;
    border:none;
    outline-style: none;
    color: rgb(221, 221, 221);
    padding-bottom: 0.5em;
    border-bottom: 1px solid;
    border-color: rgb(86, 86, 86);
    padding-top: 0.3em;
    z-index: 1000;
}


.button:hover{
    color:rgb(226, 31, 73)
}
