.search{
    display: flex;
    margin-top: 5em;
    height: 2em;
    width: 30em;
    align-content: center;
    background-color: rgb(236, 235, 235);
    border-radius: 0.5em;
    border-color: rgb(196, 196, 196);
    border-style: solid;
    border-width: 1px;
  }

.search input{
    width: 33em;
    border: none;
    background:none;
    height: 2em;
    outline: none;
}

.search input::placeholder{
    color: rgb(66, 66, 66);
}

.search button{
    border: none;
    background:none;
}

.search form{
    display: flex;
    flex-direction: row;
    width: 30em;
    align-items: center;
}

.search:focus-within{
    outline: 2px solid #b6b6b6;
}

@media (max-width: 900px) {
    .search{
        width: 20em;
    }

    .serch input{
        display: flex;
        width: 10em;
    }
    
    .search button{
        display: flex;
    }
    .search form{
        display: flex;
        flex-direction: row;
        width: 20em;
    }
    
}

