/* UTILIDADES */
.imgPerfil {
    width: 7em;
    height: 7em;
    border-radius: 0.2em;

  }

  .container {
    max-width: 100vw;
    width: 95%;
  }

  /* STYLES COMPONENT */
  .containerHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;

  }

  .containerPerfil {
    width: 70%;
    height: 15em;
    margin-top: 100px;
    margin-bottom: 45px;
    background: rgb(54, 54, 54);
    border-radius: 0.5em;
    -webkit-box-shadow: -4px 5px 15px 5px rgba(0,0,0,0.11);
    box-shadow: -4px 5px 15px 5px rgba(0,0,0,0.11);
  }

  .perfilDates {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    color: #fff;
  }

  .containerImg{
    margin: 22px;
  }

  .userDetail{
    margin: 20px;
  }

  .flex{
    display: inline-flex;
    gap: 4em;
  }

  .item label{
    display: inline-flex;
    margin-top: 0.5em;
    color: #a5a5a5;
  }

  .Username {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 1em;
    width:fit-content;
    background-color: rgb(41, 41, 41);
    border-radius: 6px 30px 30px 6px;
    border: 1px solid #474747;
    -webkit-box-shadow: -4px 5px 15px 5px rgba(0,0,0,0.11);
    box-shadow: -4px 5px 15px 5px rgba(0,0,0,0.11);

  }

  .Username span{
    font-size: 1.2em;
    margin-right: 1em;

  }


  .cartYourCourse{
    display: flex;
    width: 100%;
    padding: 5px;
    border: solid 1px #474747;
    margin-bottom: 1em;
  }

  .cartYourCourse svg{
    width: 2em;
    height: 2em;

  }

  .cursos{
    text-align: center;
    width: 20%;
  }

  .lenguaje{
    display: flex;
    justify-content: center;
    width:20%;
  }

  .userFlex{
    display: flex;
    flex-direction: row;
    align-content: center;
  }

  .popup{
    margin-left: 4em;
    height: 2em;
    align-self: center;
    border: solid 1px #474747;
    border-radius: 0.5em;
    background: rgb(54, 54, 54);
    color: #fff;

  }

  .popupPassword{
    margin-left: 1em;
    width: 11em;
    height: 2em;
    align-self: center;
    border: solid 1px #474747;
    border-radius: 0.5em;
    background: rgb(54, 54, 54);
    color: #fff;

  }

  .imgChanger {
    position: relative;
    right: 4.45em;
    bottom: .3em;
    border: none;
    border-radius: 0 0 1px 0;
  }
