
.flexContainer{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: rgb(255,29,56);
    background: linear-gradient(9deg, rgba(255,29,56,1) 0%, rgba(255,102,108,1) 65%);
}
.checkout{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 70%;
    border-radius: 0.7em ;
    align-self: center;
    justify-self: center;
    background-color: rgb(250, 250, 250);
    -webkit-box-shadow: -4px 5px 15px 5px rgba(0,0,0,0.11); 
    box-shadow: -4px 5px 15px 5px rgba(0,0,0,0.11);
    align-items: center;
    
}

.checkout h1{
    margin-top: 1em;
    font-size: 2.3em;
    color: rgb(36, 36, 36);
    font-weight: 400;
}

.checkoutTitle{
    margin-top: 2em;
    font-size: 1.3em;
}
.checkoutDescription{
    margin-top: 1em;
}

.checkoutButton{
    margin-top: 3em;
    width: 7em;
}

.checkoutButton svg{
    width: 2em;


}