.tarjeta {
    padding: 15px 10px;
    background: #d0d1d5;
    border-radius: 8px;
}

/* If you like this, please check my blog at codedgar.com.ve */
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&display=swap');

.body {
    font-family: 'Work Sans', sans-serif;
    background: #00d2ff;
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
    background: linear-gradient(to right, #3a7bd5, #00d2ff);
    /* Thanks to uigradients :) */
    padding: 20px 0;
    min-height: 100vh;
}

.card {
    background: linear-gradient(109deg, #000204, #022093);
    border-radius: 14px;
    max-width: 400px;
    display: block;
    margin: auto;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 2px 10px 40px black;
    z-index: 1000000;
    position: relative;
}
.card div{
    display: flex;
    padding: 5px 0;
    align-items: center;
    flex-direction: row;
}
.card div label{
    font-size: 14px;
    margin-right: 15px;
}
.logo_card {
    max-width: 50px;
    margin-bottom: 15px;
    margin-top: -19px;
}

.container label {
    display: flex;
    font-size: 12px;
    color: white;
    opacity: .4;
    font-family: monospace;
}

.container input {
    font-family: 'Work Sans', sans-serif;
    background: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    color: #dbdce0;
    padding: 4px;
    bottom: -10px;
    position: relative;
    padding: 10px 0;
    background: #0000000d;
    border-radius: 5px;
}

.abajo{
    width: 100%;
    padding-top: 300px;
}
.abajo P{
    font-family: 'Anek Latin', sans-serif;
}

.input_cardnumber {
    display: block;
    font-size: 20px;
    margin-bottom: 8px;
}


.toleft {
    float: left;
}

input .toleftccv {
    width: 50px;
    margin-top: -5px;
    font-size: 15px;
}
.col p{
    font-size: large;
    font-family: 'Anek Latin', sans-serif;
    margin-top: 20px;
    font-weight: bold;
}

.receipt {
    background: #dbdce0;
    border-radius: 4px;
    padding: 5%;
    padding-top: 200px;
    max-width: 600px;
    display: block;
    margin: auto;
    margin-top: -180px;
    position: relative;
    min-height: 500px;
}

.col {
    width: 50%;
    float: left;
}

.bought-item {
    background: #f5f5f5;
    padding: 2px;
}

.bought-items {
    margin-top: -3px;
}
.container input:focus{border-bottom:1px solid #1abc9c; outline:none;}
.seller {
    color: #01186f;
    font-family: 'Open_sans';
    padding: 5px
}

.description {
    font-size: 13px;
}

.price {
    font-size: 12px;
}

.comprobe {
    text-align: center;
}

.proceed {
    position: absolute;
    top: 35%;
    transform: translate(350px, 10px);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #1abc9c;
    border: none;
    color: white;
    transition: box-shadow .2s, transform .4s;
    cursor: pointer;
}

.proceed:active {
    outline: none;
}

.proceed:focus {
    outline: none;
    box-shadow: inset 0px 0px 5px white;
}

.sendicon {
    filter: invert(100%);
    padding-top: 2px;
}
.datos{
    width: 100%;
    color:  black;
}
@media (max-width: 600px) {
    .proceed {
        transform: translate(250px, 10px);
    }

    .col {
        display: block;
        margin: auto;
        width: 100%;
        text-align: center;
    }
}