.flex{
}
.container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
    position: absolute;
    right: 0;
    background-color: rgba(12, 12, 12, 0.538);
    width: 15.7em;
    height: 4em;
    border-radius: 1em 0 0 1em;
}
.info{
    position: absolute;
    right: 1.5em;
  display:none;
  margin-top:5em;
  font-size: 0.8rem;
  color: white;
  opacity: 0%;
}

.container:hover + .info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 100%;
  -webkit-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}


.icon2{
  margin-left: 1em;
  padding-top: 1em;
  padding-left:3em;
}

.icon2 svg{
  position: absolute;
  width: 2em;
  height: 2em;
  color: rgb(160, 20, 13);
}

.icon21{
  margin-left: 1em;
  padding-top: 1em;
  padding-left:0em;
}

.icon21 svg{
  position: absolute;
  width: 2em;
  height: 2em;
  color: rgb(160, 20, 13);
}

.icon2 svg:hover{
  color:white;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.icon21 svg:hover{
  color:white;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}