@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Istok Web", sans-serif;
}

.body, .body2 {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to right, #000000, #434343);
  flex-direction: column;
}
.body{
  background: linear-gradient(280deg, #686868, #9f9f9f, #ababab, #686868);
}
.back{
  margin: 40px 0 0 40px;
  display: flex;
  background: white;
  width: 100px;
  padding: 10px;
  position: relative;
  justify-content: space-around;
  border-radius: 5px;
}
.back a{
  color: #191919;
  font-family: 'Roboto Slab';
  text-decoration: none;
  font-weight: bold;
}

.cardd {
  position: relative;
  width: 320px;
  height: 450px;
  background: #191919;
  border-radius: 20px;
  margin: 20px 0;
  overflow: hidden;
  box-shadow: 10px 10px 58px -24px rgb(255 234 234);

}

.cardd::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #a70f00;
  transform: skewY(345deg);
  transition: 0.5s;
}

.cardd:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.cardd::after {
  content: "CORSAIR";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}

.cardd .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}
/*
.card .imgBox img {
    max-width: 100%;
    
    transition: .5s;
}

.card:hover .imgBox img {
    max-width: 50%;
      
}
*/
.cardd .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.cardd .contentBox h3 {
    font-size: 18px;
    text-align: center;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.cardd .contentBox .price {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.cardd .contentBox a {
    position: relative;
    top: 100px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    background: #50cb5a;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

.cardd:hover .contentBox a {
    top: 0;
    opacity: 1;
    background: green;
}

.mouse {
    max-height: 300px;
    max-width: 250px;
}
.Contenedorprecios{
  display: flex;
  margin: 50px;
  min-height: 80vh;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
.best{
  box-shadow: 10px 10px 100px -10px rgb(255 215 0);
}
.best::before{
  background: #e7c300;
}
.best:hover .contentBox a{
  background: #01ff09;
  color: black;
}
@media (max-width: 800px) {
    .Contenedorprecios{
        margin: 20px 50px;
        justify-content: space-evenly;
        width: auto;
        flex-direction: column-reverse;
    }
}