.flexContainer{
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

.highContainer {
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

}
