
.containerCourse{
    display: inline-flex;
    background-color: rgb(250, 250, 250);
    border-radius: 0.5em;
    width: 50em;
    flex-direction: row;
    margin-left: 1em;
    min-height: 10em;
    margin-top: 1em;
    box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
}

.courseName{
    margin-top: .5em;
    display: flex;
    font-size: 1.7em;
    color: rgb(62, 62, 62);
    text-decoration: underline 1px;
    margin-left: 0.5em;
}

.courseStats{
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 1em;
    margin-top: 0.3em;
}

.courseStats svg{
    position: relative;
    width: 1.5em;
    height: 1.5em;
    color: rgb(62, 62, 62);
  }

  .courseStats span{
      color: rgb(62, 62, 62);
      font-size: 0.8em;
      margin-right: 2em;
      margin-left: 0.4em;
      margin-top: 0.3em;
      
  }

  .courseStats button{
      background: none;
      border: none;
  }

  .courseStats button svg:hover{
    color: rgb(213, 0, 0);
}

  .descripcion{
      display: flex;
      width: 35em;
      min-height:4em ;
  }

  .descripcion span{
      margin-top: 1em;
      margin-left: 1em;
      margin-bottom: 1em;
      top: 1em;
      color: rgb(62, 62, 62);
  }


  .lenguaje{
      display: flex;
      margin-left: 5em;
      width: 4em;
        height: 4em;
        align-self: center;
  }

  .lenguaje svg{
      display: flex;
  }

  .flexContainer{
      display: inline-block;
  }

  @media (max-width: 768px) {

    .containerCourse{
        width: 23em;
    }

    .descripcion{
        width: 120%;
    }

    .lenguaje{
        margin-right: 2em;
    }
  }

