.heightContainer{
  width: 100%;
  height: 100%;
  display: flex;
}

.flexContainer{
  display: flex;
  margin-top: 5em;
  width: 100%;
  justify-content: center;
}

.flexContainer2{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction:column;
            width: 50em;
}

.containerSearch{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction:column;
      align-items: center;
      align-content: center;
    background-color: rgb(54, 54, 54);
    border-radius: 0.5em;
    min-width: 25em;
    max-width: 25em;
    min-height: 70em;
    margin-top: 1em;
    box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
}

.form {

    color: rgb(0, 0, 0);
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 4.5px;
    width: 20em;
    background-color: rgb(54, 54, 54, 0.823) ;
    margin-top:2em;
  }

  .input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    margin-left: 1em;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }
  
  .input[type="search"]::placeholder {
    color: #bbb;
  }
 .button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 1em;
    padding-left: 13em;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  
  .button[type="submit"]:hover {
    opacity: 1;
  }

  .button[type="submit"]:focus,
.input[type="search"]:focus {
  outline: none;
}

.select{
    color: rgb(185, 185, 185);
    display: flex;
    padding: 2px;
    border: 1px solid black;
    border-radius: 4.5px;
    background-color: rgb(54, 54, 54, 0.823) ;
    margin-top: 0em;
    width: 23em;
    height: 2em;
}

.select2{
  justify-content: space-around;
  color: rgb(185, 185, 185);
  display: flex;
  padding: 2px;
  border: 1px solid black;
  border-radius: 4.5px;
  background-color: rgb(54, 54, 54, 0.823) ;
  margin-top: 0em;
  width: 19em;
  height: 2em;
}

.p{
  color: rgb(230, 230, 230);
  align-self: flex-start;
  margin-left: 3em;
  margin-top: 0.5em;
}

.select2 input[type="radio"]{
  margin-top: 0.5em;
}

.select2 input[type="checkbox"]{
  margin-top: 0.5em;
}

.icon{
  display: none;
  pointer-events: none;
}

.icon svg{
  position: absolute;
  width: 2em;
  height: 2em;
  color: rgb(226, 31, 50);
}


@media (max-width: 768px) {
 

  .icon{
    display: flex;
    pointer-events: auto;
    margin-top: 1em;
    width: 100%;
    justify-content: center;
  
  }
  .icon svg{
    position: relative;
    width: 2em;
    height: 2em;
    color: rgb(226, 31, 50);
  }
 
  .heightContainer{
    width: 100%;
justify-items: center;

  }

  .flexContainer{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;

  }

.containerSearch{
  display: flex;
  min-width: 89%;
  max-width: 89%;
  min-height:6em;
  max-height: 30em;
}

.form{
  margin-top: 1em;
}

.flexContainer2{
  width: 100%;
  margin-top: 2em;
  flex-direction: column;
  align-items: center;
}

.container2{
  width: 89%;
  align-content: center;
  align-items: center;
}

.p, .select, .select2{
  display: none;
  pointer-events: none;
}

.selectActive{
  color: rgb(185, 185, 185);
  display: flex;
  padding: 2px;
  border: 1px solid black;
  border-radius: 4.5px;
  background-color: rgb(54, 54, 54, 0.823) ;
  margin-top: 0em;
  width: 23em;
  height: 2em;
}

.select2Active{
justify-content: space-around;
color: rgb(185, 185, 185);
display: flex;
padding: 2px;
border: 1px solid black;
border-radius: 4.5px;
background-color: rgb(54, 54, 54, 0.823) ;
margin-top: 0em;
width: 19em;
height: 2em;
}

.pActive{
color: rgb(230, 230, 230);
align-self: flex-start;
margin-left: 3em;
margin-top: 0.5em;
}

.select2Active input[type="radio"]{
margin-top: 0.5em;
}

.select2Active input[type="checkbox"]{
margin-top: 0.5em;
}


}