.flexContainer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
        margin-top: 5em;

}

.flexContainer2{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction:column;

}

.containerSearch{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction:column;
        align-items: center;
        align-content: center;
    background-color: rgb(54, 54, 54);
    border-radius: 1em;
    min-width: 25em;
    max-width: 25em;
    height: 70em;
    margin-left: 25em;
    margin-top: 1em;
    box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
}
.containerCourse1{
    display: inline-block;
    background-color: rgb(54, 54, 54);
    border-radius: 1em;
    width: 30em;
    margin-left: 1em;
    min-height: 10em;
    margin-top: 6em;
    box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
}

.containerCourse{
    display: inline-block;
    background-color: rgb(54, 54, 54);
    border-radius: 1em;
    width: 50em;
    margin-left: 1em;
    min-height: 10em;
    box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
}

form {

    color: rgb(0, 0, 0);
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 4.5px;
    width: 20em;
    background-color: rgb(54, 54, 54, 0.823) ;
    margin-top:2em;
  }

  input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    margin-left: 1em;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }
  
  input[type="search"]::placeholder {
    color: #bbb;
  }
  button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 1em;
    padding-left: 13em;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  
  button[type="submit"]:hover {
    opacity: 1;
  }

  button[type="submit"]:focus,
input[type="search"]:focus {
  outline: none;
}

select{
    color: rgb(185, 185, 185);
    display: flex;
    padding: 2px;
    border: 1px solid black;
    border-radius: 4.5px;
    background-color: rgb(54, 54, 54, 0.823) ;
    margin-top: 0em;
    width: 23em;
    height: 2em;
}

p{
    color: rgb(230, 230, 230);
    align-self: flex-start;
    margin-left: 3em;
}