@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

.Contenedor,
.flexContainer{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;

}
.All {
    width: 100%;
    height: 100%;
}

.All {
    flex-direction: column;
}

.Contenedor2,
.Contenedor3 {
    display: flex;
    padding: 25px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.Contenedor3 {
    min-height: 25vh;
    min-width: 50%;
    justify-content: center;
    position: relative;
    
}

.h1 {
    mix-blend-mode: exclusion;
    color: white;
    margin: 15px;
    font-size: 35px;
    align-self: center;
    font-family: 'Roboto Slab', serif;
}
.puesto{
    position: relative;
    width: 100%;
    display: flex;
}
.usuario {
    color: white;
    background: #ff0000b1;
    width: 100%;
    text-align: center;
    mix-blend-mode: luminosity;
    border-radius: 20px;
    font-family: 'Roboto Slab', serif;

}
.userrank{
    min-width: 50%;
}
.medalla,.medalla2,.medalla3,.medalla4,.medalla5,.medalla6{
    height: 38px;
    position: absolute;
    right: 0;
    top:-8px;
    z-index: 10;
}
.medalla2{
    right: 0px;
}
.medalla3{
    right: 0px;
}
.medalla4{
    right: 0px;
}.medalla5{
    height: 37px;
    right: 0px;
}
.medalla6{
    top:-6px;
    height: 35px;
    right: 0px;
}
.cargando{
    height: 100px;
    position: absolute;
    bottom: 50%;
    left: 45%;
}
@media (max-width: 800px) {
    .Contenedor{
        flex-direction: column;
    }
    .puesto{
        margin: 5px;
    }
    .medalla,.medalla2,.medalla3,.medalla4,.medalla5,.medalla6{
        right: 0;
        height: 30px;
    }
}