.flexContainer{
  display:flex;
  width: 30%;
  height: 100%;
  border-right: rgb(85, 85, 85) solid 2px;
  flex-direction: column;

}

.userRankContainer {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
}

.userRank{
  height: 60%;
  width: 100%;
  justify-content: center;
  justify-items: center;
  text-align: center;;
}

.userRank h1{
  justify-self: center;
  font-size: 60px;
  color: rgb(95, 95, 95);
  text-shadow: 1px 0 0 rgb(170, 170, 170), -1px 0 0 rgb(170, 170, 170), 0 1px 0 rgb(170, 170, 170), 0 -1px 0 rgb(170, 170, 170), 1px 1px rgb(170, 170, 170), -1px -1px 0 rgb(170, 170, 170), 1px -1px 0 rgb(170, 170, 170), -1px 1px 0 rgb(170, 170, 170), 2px 2px 8px rgba(0,0,0,0.71);
}

.userRank h3{
  justify-self: center;
  font-size: 20px;
  height: 1em;
  color: rgb(95, 95, 95);
  text-shadow: 1px 0 0 rgb(170, 170, 170), -1px 0 0 rgb(170, 170, 170), 0 1px 0 rgb(170, 170, 170), 0 -1px 0 rgb(170, 170, 170), 1px 1px rgb(170, 170, 170), -1px -1px 0 rgb(170, 170, 170), 1px -1px 0 rgb(170, 170, 170), -1px 1px 0 rgb(170, 170, 170);
}


.userRankContainer label{
  display: flex;
  justify-content: center;
}

.imgContainer {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  justify-content: center;
  margin-top: 1em;
}

.userPicture {
  display: flex;
  height: 5em;
  width: 5em;
  border-radius: 0.5em;
  margin-top: 2.4em;
}

.frame{
  position: absolute;
  display: flex;
  height: 8em;

}

.userRankContainer > label {
  width: 100%;
  font-size: 2em;
}

.userRank {
  width: 100%;
  font-size: 160px;
}
