.userRankContainer {
  display:flex;
  flex-wrap: wrap;
  min-width: 50%;
  height: 100%;
  background-color: rgb(189, 189, 189);
}

.imgContainer {
  width: 30%;
}

.imgContainer > img {
  width: 100%;
  height: 100%;
}

.userRankContainer > label {
  width: 100%;
  font-size: 60px;
}

.userRank {
  width: 100%;
  font-size: 160px;
}
