.flexContainer{
  display:flex;
  width: 50%;
  height: 100%;
  border-right: black solid 2px;
  flex-direction: row;

}

.userRankContainer {
  display: flex;
  margin-left: 2em;
  flex-direction: column;
  margin-top: 1em;
}

.userRankContainer h1{
  font-size: 6em;
  justify-self: center;
}

.imgContainer {
  display: flex;
  width: 30%;
  height: 100%;
  border-radius: 0.5em;
}

.imgContainer > img {
  width: 100%;
  height: 10em;
  margin-top: 1em;
  margin-left: 1em;
  border-radius: 0.5em;
}

.userRankContainer > label {
  width: 100%;
  font-size: 2em;
}

.userRank {
  width: 100%;
  font-size: 160px;
}
