
.flexContainer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.flexContainer2{
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3em;
    margin-top: 2em;
}

.flexContainer3{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction:column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.container{
    display: inline-block;
    background-color: rgb(142, 0, 0);
    border-radius: 1em;
    width: 70em;
    height: 30em;
    margin-top: 5em;
    box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
}
.container2{
    background-color: rgb(142, 0, 0);
    border-radius: 1em;
    width: 33.5em;
    height: 30em;
    box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
}

.container31{
    display: flex;
    flex-direction: row;
    background-color: rgb(142, 0, 0);
    border-radius: 1em;
    width: 33.5em;
    height: 9em;
    box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
    gap:1em;
}

.container3{
    display: flex;
    flex-direction: row;
    background-color: rgb(142, 0, 0);
    border-radius: 1em;
    width: 33.5em;
    height: 9em;
    margin-top: 1.5em;
    box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
    gap:1em;
}

.logoCont3{
    right: 0em;
    width: 7em;
    height: 7em;
    margin-top: 1em;
    margin-left: 1em;
}

.container3Text{
    width: 20em;
    height: 8em;

}

.container3Text h3{
    color:rgb(204, 204, 204);
}
.container3Text h1{
    color:rgb(204, 204, 204);
    font-size: 0.8em;
    font-weight: 100;
}

.button{
    margin-left: 18em;
    background-color: rgb(31, 31, 31);
    width: 6em;
    border-radius: 0.5em;
    text-align: center;
    height: 1.8em;

}

.button a{
    text-decoration: none;
    color: white;
    font-size: 0.9em;
}