.flexContainer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.flexContainer2{
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 6em;
}

.container{
    display: inline-block;
    background-color: red;
    border-radius: 1em;
    width: 70em;
    height: 30em;
    margin-top: 5em;
    box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
}
.container2{
    background-color: red;
    border-radius: 1em;
    width: 32em;
    height: 30em;
    margin-top: 5em;
    box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
}