.flexContainer {
    display: flex;
    width: 100%;
    height: 15em;
}

.flexContainer2 {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 6em;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.container h3 {
    font-size: 2em;
    margin-left: 1em;
}

.container h1 {
    font-size: 1em;
    margin-left: 3em;
    margin-top: 0em;
}

.disponible {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 4px 2em;
    justify-content: space-between;
}

.disponible p,
.disponible a {
    background-color: rgb(46, 46, 46);
    min-width: 100px;
    border-radius: 5em;
    height: 2em;
    padding-top: 5px;
    color: aliceblue;
    box-shadow: 10px 10px 60px 0px rgb(0 0 0 / 49%);
    text-align: center;
}

.disponible a {
    box-shadow: none;
    text-decoration: none;
    background-color: #bbbbbb;
    color: black;
}

.disponible a :hover {
    background-color: #bbbbbb;
    color: #505050;
}