.flexContainer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.flexContainer2{
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3em;
    margin-top: 2em;
}

.flexContainer3{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction:column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.container{
    display: inline-flex;
    background: linear-gradient(90deg, rgba(54,54,54,1) 0%, rgba(124,0,1,0.1) 100%, rgba(190,0,0,0.5) 100%);
    border-radius: 0.5em;
    width: 70em;
    height: 12em;
    margin-top: 5em;
    -webkit-box-shadow: -4px 5px 15px 5px rgba(0,0,0,0.11); 
    box-shadow: -4px 5px 15px 5px rgba(0,0,0,0.11);
}
.container2{
    background-color: rgb(54, 54, 54);
    border-radius: 0.5em;
    width: 33.5em;
    height: 30em;
    -webkit-box-shadow: -4px 5px 15px 5px rgba(0,0,0,0.11); 
    box-shadow: -4px 5px 15px 5px rgba(0,0,0,0.11);
}

.container31{
    display: flex;
    flex-direction: row;
    background: linear-gradient(90deg, rgba(54,54,54,1) 0%, rgba(39,39,39,0) 100%);
    border-radius: 0.5em;
    width: 33.5em;
    min-height: 9em;
    gap:1em;
}

.container3{
    display: flex;
    flex-direction: row;
    background-color: rgb(54, 54, 54);
    border-radius: 0.5em;
    width: 33.5em;
    height: 9em;
    margin-top: 1.5em;
    -webkit-box-shadow: -4px 5px 15px 5px rgba(0,0,0,0.11); 
    box-shadow: -4px 5px 15px 5px rgba(0,0,0,0.11);
    gap:1em;
}

.logoCont3{
    right: 0em;
    width: 7em;
    height: 7em;
    margin-top: 1em;
    margin-left: 1em;
}

.container3Text{
    width: 20em;
    height: 8em;

}

.container3Text h3{
    color:rgb(204, 204, 204);
    margin-top:1em;
}
.container3Text h1{
    color:rgb(204, 204, 204);
    font-size: 0.8em;
    font-weight: 100;
}

.button{
    margin-left: 5em;
    background-color: rgb(31, 31, 31);
    width: 6em;
    border-radius: 0.5em;
    text-align: center;
    height: 1.8em;
    margin-top: 1em;

}

.button a{
    text-decoration: none;
    color: white;
    font-size: 0.9em;
}


@media (max-width: 768px) {
        .flexContainer{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }

    .container{
        width: 20em;
        height: 20em;
        margin-top: 5em;
    }
    .flexContainer2{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
                align-items: center;
        gap: 1em;
        margin-top: 2em;
    }

    .flexContainer3{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
                align-items: center;
        margin-top: 2em;
    }

    .container2{
        width: 20em;
        height: 20em;
    }

    .container3{
        width: 20em;
    }

    .container3Text{
        width: 10em;
    }

    .container3Text h3{
        font-size: .9em;
    }

    .logoCont3{
        width: 5em;
        height: 5em;
    }

    .container31{
        width: 20em;
        min-height: 10em;
    }
}