.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.flexContainer2 {
    width: 87%;
    margin-left: 50px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
    margin-top: 2em;
}


.flexContainer3 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    background: linear-gradient(90deg, rgb(250, 250, 250) 40%, rgba(0, 0, 0, 0.1) 100%);
    border-radius: 0.5em;
    min-width: 82%;
    min-height: 20em;
    margin-top: 5em;
    box-shadow: -4px 5px 15px 5px rgba(0, 0, 0, 0.11);

}

.container2 {
    background-color: rgb(250, 250, 250);
    border-radius: 0.5em;
    width: 60%;
    height: 30em;
    box-shadow: -4px 5px 15px 5px rgba(0, 0, 0, 0.11);
}

.container3,
.container31 {
    display: flex;
    flex-direction: row;
    background: linear-gradient(90deg, rgb(217 213 213) 0%, rgba(247, 247, 247, 1) 100%);
    border-radius: 0.5em;
    width: 95%;
    height: 9em;
    margin-top: 1.5em;
    box-shadow: -4px 5px 15px 5px rgba(0, 0, 0, 0.11);
    gap: 1em;
    justify-content: center;
}

.container31 {
    background: linear-gradient(90deg, rgba(207, 207, 207, 1) 0%, rgba(247, 247, 247, 1) 100%);
    margin-top: 0;
    flex-direction: row;
}

.logoCont3 {
    right: 0em;
    width: 7em;
    height: 7em;
    margin-top: 1em;
    margin-left: 1em;
}

.container3Text {
    min-width: 20em;
    min-height: 8em;

}

.container3Text h3 {
    color: black;
    margin-top: 1em;
}

.container3Text h1 {
    color: rgb(45, 45, 45);
    font-size: 0.8em;
    font-weight: 100;
}

.button {
    margin-left: 5em;
    background-color: rgb(174, 174, 174);
    width: 6em;
    border-radius: 0.5em;
    text-align: center;
    height: 1.8em;
    margin-top: 1em;

}

.button a {
    text-decoration: none;
    color: white;
    font-size: 0.9em;
}


@media (max-width: 768px) {

    .container {
        min-width: 80%;
        min-width: 80%;
        flex-direction: column-reverse;
    }

    .flexContainer2 {
        flex-direction: column;
        align-items: center;
        gap: 1em;
        margin-top: 2em;
    }

    .flexContainer3 {
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
        width: 100%;
    }

    .container2 {
        width: 80%;
        height: 200px;
        min-height: 10%;
    }

    .container3,
    .container31 {
        width: 80%;
    }

    .logoCont3 {
        width: 5em;
        height: 5em;
    }
}