
.flexContainer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.flexContainer2{
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3em;
    margin-top: 2em;
}

.flexContainer3{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction:column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.container{
    display: inline-block;
    background: linear-gradient(90deg, rgb(250, 250, 250) 40%, rgba(226, 31, 50,0.1) 100%);
    border-radius: 0.5em;
    width: 70em;
    min-height: 30em;
    margin-top: 5em;
    -webkit-box-shadow: -4px 5px 15px 5px rgba(0,0,0,0.11); 
    box-shadow: -4px 5px 15px 5px rgba(0,0,0,0.11);
}
.container2{
    background-color: rgb(250, 250, 250);
    border-radius: 0.5em;
    width: 33.5em;
    height: 30em;
    -webkit-box-shadow: -4px 5px 15px 5px rgba(0,0,0,0.11); 
    box-shadow: -4px 5px 15px 5px rgba(0,0,0,0.11);
}

.container31{
    display: flex;
    flex-direction: row;
    background: linear-gradient(90deg, rgba(207,207,207,1) 0%, rgba(247,247,247,1) 100%);
    border-radius: 0.5em;
    width: 33.5em;
    height: 9em;

    gap:1em;
}

.container3{
    display: flex;
    flex-direction: row;
    background-color: rgb(250, 250, 250);
    border-radius: 0.5em;
    width: 33.5em;
    height: 9em;
    margin-top: 1.5em;
    -webkit-box-shadow: -4px 5px 15px 5px rgba(0,0,0,0.11); 
    box-shadow: -4px 5px 15px 5px rgba(0,0,0,0.11);
    gap:1em;
}

.logoCont3{
    right: 0em;
    width: 7em;
    height: 7em;
    margin-top: 1em;
    margin-left: 1em;
}

.container3Text{
    width: 20em;
    height: 8em;

}

.container3Text h3{
    color:rgb(135, 135, 135);
    margin-top:1em;
}
.container3Text h1{
    color:rgb(135, 135, );
    font-size: 0.8em;
    font-weight: 100;
}

.button{
    margin-left: 5em;
    background-color: rgb(174, 174, 174);
    width: 6em;
    border-radius: 0.5em;
    text-align: center;
    height: 1.8em;
    margin-top: 1em;

}

.button a{
    text-decoration: none;
    color: white;
    font-size: 0.9em;
}

