.highContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

}

.infoContainer {
  margin-top: 5em;
  display: flex;
  width: 70%;
  min-height: 30%;
  padding: 1em;
  flex-direction: column;
  border-radius: .5em;
  color: rgb(172, 172, 172);
  background-color: rgb(54, 54, 54) ;
  -webkit-box-shadow: -4px 5px 15px 5px rgba(0,0,0,0.11); 
  box-shadow: -4px 5px 15px 5px rgba(0,0,0,0.11);
  margin-bottom: 5em;

}

.infoContainer h1{
  color: rgb(226, 226, 226);
}

.video{
  margin-top: 3em;
  align-self: center;
}


.flexContainerDescrip{
  display: flex;
  flex-direction: column;
width: 700px;
align-items: center;
align-self: center;
margin-top: 3em;

}

.isReady{
  display: flex;
  width: 10em;
  justify-content: center;
  align-items: center;
  height: 2em;
  color: rgb(206, 206, 206);
  background-color: rgb(54, 54, 54);
  border: 1px solid rgb(80, 80, 80);
  border-radius: .3em;
  margin-bottom: 2em;
}

.isReady:hover{
  border-color: rgb(242, 26, 77);
  color:rgb(242, 26, 77) ;
}

.infoContainer h1{
  margin-left: 0.5em;
}

.description{
  margin-left: 1.1em;
}


@media (max-width: 768px) {
  .infoContainer{
    width: 96%;
  }
  .video{
    width: 105%;
  }
}