.quiz {
  background-color: #e8e8e8;
  max-width: 650px;
  min-width: 450px;
  height: min-content;
  min-height: 200px;
  border-radius: .3em;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 2em;
}

/* PREGUNTAS */
.lado_izquierdo {
  max-width: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color:#4e4e4e ;
  word-break: break-all;
}

.pregunta_numero {
  margin-bottom: 20px;
}

.pregunta_numero span {
  font-size: 28px;
}

.preguntaTitulo {
 display: flex;

margin-bottom: 5em;}

.lado_derecho {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 3em;
}

/* FINALIZADO */
.juego_terminado {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 24px;
  align-items: center;
}

/* GRAL */
.button {
  width: 100%;
  font-size: 16px;
  color: #4e4e4e;
  background-color: #f1f1f1;
  border-radius: .3em;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border: 2px solid #b2b2b2;
  cursor: pointer;
}

.tiempo_restante {
  font-size: 14px;
  color: #fc3d40;
  margin-bottom: 20px;
}

.correct,
.correct:hover {
  background-color: #2f922f;
}

.incorrect,
.incorrect:hover {
  background-color: #ff3333;
}

.btns-container {
  display: flex;
  justify-content: space-evenly;
}

.button:hover {
  background-color: #ff1d43;
  color: #ffffff;
}

.button[disabled] {
  background-color: #5e5e5e;
  color: #ffffff;
  cursor: not-allowed;
}

.button:focus {
  outline: none;
}

.button svg {
  margin-right: 5px;
}


@media (max-width: 768px) {
  .quiz{
    max-width: 25em;
    min-width: 16em;
  }

}