.quiz {
  background-color: #414141;
  max-width: 650px;
  min-width: 450px;
  height: min-content;
  min-height: 200px;
  border-radius: .3em;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 2em;
}

/* PREGUNTAS */
.lado_izquierdo {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color:#e8e8e8 ;
}

.pregunta_numero {
  margin-bottom: 20px;
}

.pregunta_numero > span {
  font-size: 28px;
}

.pregunta_titulo {
  margin-bottom: 12px;
}

.lado_derecho {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 3em;
}

/* FINALIZADO */
.juego_terminado {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 24px;
  align-items: center;
}

/* GRAL */
.button {
  width: 100%;
  font-size: 16px;
  color: #e4e4e4;
  background-color: #373737;
  border-radius: .3em;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border: 2px solid #2d2d2d;
  cursor: pointer;
}

.tiempo_restante {
  font-size: 14px;
  color: rgb(160, 20, 13);
  margin-bottom: 20px;
}

.correct,
.correct:hover {
  background-color: #2f922f;
}

.incorrect,
.incorrect:hover {
  background-color: #ff3333;
}

.btns-container {
  display: flex;
  justify-content: space-evenly;
}

.button:hover {
  background-color: rgb(160, 20, 13);
  color: #ffffff;
}

.button[disabled] {
  background-color: #5e5e5e;
  color: #ffffff;
  cursor: not-allowed;
}

.button:focus {
  outline: none;
}

.button svg {
  margin-right: 5px;
}


@media (max-width: 768px) {
  .quiz{
    max-width: 25em;
    min-width: 16em;
  }

}
