* {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .quiz {
    font-family: 'Roboto Slab';
    margin: 40px;
    background-color: #252d4a;
    height: min-content;
    border-radius: 15px;
    color: white;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgb(0 0 0 / 75%);
    display: flex;
    justify-content: space-evenly;
  }
  
  
  /* PREGUNTAS */
  .lado, .ladocomplete{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
  }
  .ladocomplete{
    width: 100%;
    padding: 0 20px;

  }
  .ladocomplete span, .lado span{
    font-weight: bold;
    font-family: 'Roboto Slab';
  }
  
  .preguntanumero {
    margin-bottom: 20px;
  }
  
  .preguntanumero span {
    font-size: 28px;
  }
  
  .preguntatitulo {
    margin-bottom: 12px;
  }
  
  .lado-derecho {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* FINALIZADO */
  .juegoterminado {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 20px;
    align-items: center;
  }
  .juegoterminado span{
    font-weight: bold;
    font-family: 'Roboto Slab';
  }
  
  /* GRAL */
  .button, .botoncont {
    width: 100%;
    margin: 4px;
    font-size: 16px;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #234668;
    cursor: pointer;
    justify-content: center;
  }
  .botoncont{
    width: 80%;
  }
  
  .tiempo-restante {
    font-size: 14px;
    color: #fcbf3d;
    margin-bottom: 20px;
  }
  
  .correct,
  .correct:hover {
    background-color: #2f922f;
  }
  
  .incorrect,
  .incorrect:hover {
    background-color: #ff3333;
  }
  
  .btns-container {
    display: flex;
    justify-content: space-evenly;
  }
  
  .button:hover {
    background-color: #234668;
  }
  
  .button[disabled] {
    background-color: #555e7d;
    color: #ffffff;
    cursor: not-allowed;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button svg {
    margin-right: 5px;
  }
  