@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap');
.Container{
    position: absolute;
    margin: 7% 15%;
    min-width: 80%;
    min-height: 80%;
    display: flex;
    background-color: #ffffff4f;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    align-content: space-between;
    flex-wrap: wrap;
}
.form{
    width: 100%;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    color: #1d1d1d;
}
.h1{
    margin: 40px 0px 0px 0px;
    color: #a0140d;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: xxx-large;
}
.label1{
    position: relative;
    top: -35px;
    font-style: italic;
    font-size: small;
}
.divs,.divimg{
    margin: -10px;
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    font-family: 'Mandali', sans-serif;
    font-weight: bold;
}
.divimg{
    width: 350px;
}
.inputs, .inputimg{
    background: #a0140d;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    text-align-last: center;
    color: white;
}
.inputimg{
    width: 300px;
}
.inputimg::-webkit-file-upload-button {
    background: #a9a7a7;
    color: #1d1d1d;
    cursor: pointer;
}
.inputs::placeholder { color: #b8b8b8; }

.send{
    width: 100px;
    height: 30px;
    background: #1d1d1d;
    border: 2px solid;
    color: #d1d1d1;
    font-weight: bold;
    border-radius: 15px;
}
.send:hover{
    color: white;
    cursor: pointer;
    transition: color 0.3s;
}
.eye{
    height: 20px;
}
.beye{
    /* position: relative;
    left: 10px; */
    margin: 5px 0px;
    background: white;
    border: none;
    border-radius: 10px;
}
.errors{
    background-color: #cd69008a;
    width: 90%;
    text-align: center;
    color: white;
    font-style: italic;
}
.good{
    background-color: #20cd008a;
    width: 90%;
    text-align: center;
    color: white;
    font-style: italic;
}