
.navbar{
  background-color: rgb(226, 31, 50);
  position: fixed;
  height: 100%;
  width: 7em;
  margin-left: 0;
  -webkit-transition: width 1.6s;
  -o-transition: width 1.6s;
  transition: width 1.6s;
  box-shadow: 10px 0px 18px -9px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 0px 18px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 0px 18px -9px rgba(0,0,0,0.75);
}
.navbar:hover {
  width:14em;
}

.logo{
  padding-top: 1em;
  margin-left: 1.5em;
  width:9em;
  height: 4em;
  background-size: 4em 4em;
  background-repeat: no-repeat;
}



.icon{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2.4em;
  padding-top: 5em;
  width: 12em;
  overflow: visible;
}


.navbar a{
  text-decoration: none;
  color: white;
}

.navbar a:hover{
  color: rgb(192, 192, 192);
}



.icon svg{
  position: absolute;
  width: 2em;
  height: 2em;
  color: rgb(184, 184, 184);
}

.hide{
  display: inline-block;
  opacity: 0%;
  font-size: 1em;
  margin-left: 0em;
  color: white;
}

.navbar:hover .hide{
  margin-left: 3.5em;
  opacity: 100%;
  color: white;
  -webkit-transition: margin-left 1.5s, opacity 2.7s;
  -o-transition: margin-left 1.5s, opacity 2.7s;
  transition: margin-left 1.5s, opacity 2.7s;
}

.navbar:hover  .logo{
  background-size: 10em 4em;
  margin-left: 2.5em;
  -webkit-transition: margin-left 1.6s;
  -o-transition: margin-left 1.6s;
  transition: margin-left 1.6s;
}

.flex{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

@media (max-width: 768px) {
  .navbar{
    display: none;
    pointer-events: none;
  }

}