/* FONTS */

@font-face {
    font-family: "Open_sans";
    src: url(../../fonts/OpenSans-Regular.ttf);
}

/* UTILIDADES */
.img{
    max-width: 100%;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    width: 95%;
}

/* ESTILOS */
.containerHeader{
    display: flex;
    justify-content: center; 
    align-items: center;

    height: 100vh;
    width: 100vw;
    background: red;
    background: linear-gradient(90deg, #F70000 0%, #ffd2ff 100%);
}

.containerMain{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 8rem;

}

.item h1{
    font-family: 'Open_sans';
    font-weight: 700;
    line-height: 4rem;
    font-size: 2.6rem;
    text-transform: capitalize;
    color: #FFF;
}

.item p {
    font-family: 'Open_sans';
    font-size: 1.3rem;
    color: #FFF;
    line-height: 2rem;
    margin: 2rem 0;
}

.item button {
    width: 10rem;
    height: 3rem;
    background: transparent;
    font-family: 'Open_Sans';
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 50px;
    border: solid 2px #ffffff;
    cursor: pointer;
    box-shadow: -2px 2px 5px #000;
}

.item .containerButton {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
