.cardContainer {
  display: flex;
  max-height: 10em;
  max-width: 50em;
  background-color: rgb(185, 187, 186);
  padding: .5em;
}

.userIdentity {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 4
}

.imgContainer {
  width: 125px;
  height: 125px;
  border-radius: 1999px;
  overflow: hidden;
}

.imgContainer > img {
  width: 100%;
  height: 100%;
}

.userCourses {
  flex-grow: 3

}

.adminOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5em;
}
