.container {
    width: 50%;
  }

.button {
    width: 125px;
    height: 35px;
    
    margin-left: 10px;
    
    border: solid 1px #fff;
    border-radius: 9px;
    
    background: #252525;

    font-size: 14px;
    color: #fff;

  }
  
.button:active {
    border: 1px solid #ffffff;
  }

.flex{
    display: flex;
    flex-direction: row;
    margin-top: 9px;
  }

.item{
    margin-left: 22px;
  }

  
.containerListYourCourse {
    height: 200px;
    
    margin-top: 35px;
    padding: 18px;

    color: #fff;
    font-size: 16px;
  
    background: #252525;

    border-radius: 12px;
  }
  
.cartYourCourse {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    max-width: 50%;

    margin: 12px;
    padding: 5px;

    border: solid 1px #fff;

  }
  
  