.container {
    width: 100%;
  }

.button {
    width: 125px;
    height: 35px;
    margin-left: 10px;
    border: solid 1px #474747;
    border-radius: 0.5em;
    background: rgb(243, 243, 243);
    font-size: 14px;
    color: rgb(103, 103, 103);

  }
  
.button:active {
    border: 1px solid #ffffff;
  }

.flex{
    display: flex;
    flex-direction: row;
    margin-top: 9px;
  }

.item{
    margin-left: 22px;
  }

  
.containerListYourCourse {
    min-height: 200px;
    margin-top: 7em;
    padding: 18px;
    color: rgb(84, 84, 84);
    font-size: 16px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgb(250, 250, 250);
    border-radius: 0.5em;
    box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 32px -16px rgba(0,0,0,0.75);
  }

  .List{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
    border: solid 1px rgb(68, 68, 68);
    margin-bottom: 1em;

  }


  .listDetail{
    margin-top: 1em;
  }

  .cursos, .cursos1{
    text-align: center;
    width: 20%;
  }

  @media (max-width: 750px){

    .cursos1{
      display: none;
    }

    .courses{
      display: flex;
      justify-items: space-between;
    }
  }