

.flex{
  width: 100%;
}
.container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
    position: absolute;
    right: 0;
    background-color: rgba(12, 12, 12, 0.538);
    min-width: 7em;
    height: 4em;
    border-radius: 0 0 0 1em;
}
.info{
    position: absolute;
    right: 1.5em;
  display:none;
  margin-top:5em;
  font-size: 0.8rem;
  color: white;
  opacity: 0%;
}

.container:hover + .info{
  display: flex;
  opacity: 100%;
  transition: opacity 1.5s;
}


.icon2{
  margin-top: 1em;
  margin-left: 1em;
  padding-left:3em;
}
.icon2 svg{
  position: absolute;
  width: 2em;
  height: 2em;
  color: rgb(226, 31, 50);
}

.icon3{
  display: flex;
  margin-top:0.25em;
  width: 4em;
  height: 4em;
  background:none;
  border-radius:50% ;
  margin-right: 0.5em;
}
.icon3 img{
  display: flex;
  width: 4em;
  height: 4em;
  border-radius: 50%;
}


.icon21{
  margin-left: 1em;
  padding-left:0em;
  margin-top: 1em;
}

.icon21 svg{
  position: absolute;
  width: 2em;
  height: 2em;
  color: rgb(226, 31, 73);
}

.icon2 svg:hover{
  color:white;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.icon21 svg:hover{
  color:white;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.icon4{
  display: none;
  pointer-events: none;
  margin-top: 1em;
  margin-left: 1em;
  padding-left:3em;
}

.icon4 svg{
  position: absolute;
  width: 2em;
  height: 2em;
  color: rgb(226, 31, 73);
}

.icon4 svg:hover{
  color:white;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.username{
  display: flex;
  height: 100%;
  margin-left:1.5em;
  margin-right:0.5em;
  align-items: center;
  color: rgb(220, 220, 220);
  font-weight: 20;
}

.dropdown{
  position: relative;

}

.dropdown.active {
  color: black;

}
.dropdownmenu{
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  top: calc(100%) ;
  background-color: gray;
  padding: .50rem;
  border-radius: 0em 0em 0em 1em;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.36);
  opacity: 0;
  text-align: center;
  width: 10em;
  right: 0%;
  transform: translateY(-10px);
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
  pointer-events: none; 
}

.dropdownmenu a{
  font-size: 1.2rem;
  text-decoration: none;
  color: rgb(221, 221, 221);
  padding-bottom: 0.5em;
  border-bottom: 1px solid;
  border-color: rgb(86, 86, 86);
  padding-top: 0.3em;
}


.dropdownmenuActive{
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  top: calc(100%) ;
  background-color: gray;
  padding: .50rem;
  border-radius: 0em 0em 0em 1em;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.36);
  text-align: center;
  width: 10em;
  right: 0%;
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdownmenuActive a{
  font-size: 1.2rem;
  text-decoration: none;
  color: rgb(221, 221, 221);
  padding-bottom: 0.5em;
  border-bottom: 1px solid;
  border-color: rgb(86, 86, 86);
  padding-top: 0.3em;
  z-index: 1000;
}

.dropdownmenuActive a:hover{
  color:rgb(226, 31, 73)
}

.arrows{
  display: none;
  pointer-events: none;
  margin-right: 4em;
  margin-top: 1em;
}

.arrows svg{
  position: absolute;
  width: 2em;
  height: 2em;
  color: rgb(226, 31, 73);
}

.icon5{
  display: none;
  margin-top: 1em;
  margin-left: 1em;
  padding-left:3em;
}
.icon5 svg{
  display: none;
  position: absolute;
  width: 2em;
  height: 2em;
  color: rgb(226, 31, 50);
}

@media (max-width: 768px) {

  .container{
  }

  .arrows{
    display: block;
    pointer-events: auto;

  }

  .icon4Active{
    display: block;
    pointer-events: auto;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 3em;
  }
  
  .icon4Active svg{
    width: 2em;
    height: 2em;
    color: rgb(226, 31, 73);
  }
  

  .icon2Active{
    margin-left:0.7em;
    display: flex;
  }
  
  .icon21{
    display: none;
    margin-left: 4em;
  }

  .icon2{
    display: none; 
    pointer-events: none;
  }


  .username{
    display: none;
  }

  .icon2Active{
    margin-top: 1em;
    margin-left: 1em;
    padding-left:3em;
  }
  .icon3Active{
    display: flex;
    margin-top:0.25em;
    margin-right: .5em;
    width: 4;
    height: 4em;
    background:none;
    border-radius:50% ;
  }
  .icon3Active img{
    display: flex;
    width: 4em;
    height: 4em;
    border-radius: 50%;
  }
  
  .icon2Active svg{
    position: absolute;
    width: 2em;
    height: 2em;
    color: rgb(226, 31, 50);
  }
  
  .icon21Active{

    display: block;
    padding-left:0em;
    margin-top: 1em;
  }
  
  .icon21Active svg{
    position: absolute;
    width: 2em;
    height: 2em;
    color: rgb(226, 31, 73);
  }

  .dropdownmenu{
    width: 7em;
  }
  .dropdownmenuActive{
    width:6.5em;
    display: inline-flex;
    z-index: 1000;
  }

  .icon5Active{
    display: flex;
    margin-top: 1em;
    margin-left: 1em;
    padding-left:3em;
  }

  .icon5Active svg{
    display: flex;
    position: absolute;
    width: 2em;
    height: 2em;
    color: rgb(226, 31, 50);
  }
}